/* CSS declarations go here */
.map-container {
  width: 100%;
  max-width: 100%;
  height: 800px;
}

.searchButton {
  position: absolute;
    width: 20em;  
    height: 4em;
    margin-top: 2em;
    margin-left: 50em;
}

.textBox {
  position: absolute;
	width: 36em;
	height: 4em;
	margin-top: 2em;
    margin-left: 4em;
}
.locationField{
  position: relative;
}
.searchtext{
    position: absolute;
    top: -7px;
    right: 0;
    left: 0;
}
.locationtext{
   margin-top: 14px;
}

.sendLocation {

	float: right;
	width: 20em;
	height: 5em;
	margin-top: 2em;
    margin-right: 20em;
}